{% extends 'base.html.twig' %}

{% block title %}Login!{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block javascripts %}
{% endblock %}
{% block body %}
{% for quest in quests %}
<div>
    <div>{{quest.titre}}</div>
    <div>{{quest.question}}</div>
    <div>{{quest.user.email}}</div>
</div>
{% endfor %}
{% endblock %}